<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Suscrito</th>
        <th scope="col">País</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name | titlecase}}</td>
        <td>{{user.email }}</td>
        <td>{{ user.subscribed ? '✔' : '❌' }}</td>
        <td>{{user.country}}</td>
        <td>{{user.city |titlecase}}</td>
        <td>
          <span (click)="editUser(user)">✏</span> 
          <span (click)="deleteUser(user.id)">🗑</span>
        </td>
      </tr>
    </tbody>
</table>